/* Contato */

#contato {
  height: 100vh;
}

#contato a:hover{
  transform: scale(1.1);
  transition: all 6ms;
}

.email{
  color: black;
  text-decoration: none;
}

.container-email {
  padding: 100px;
  border: 1px solid white;
  background-color: white;
  color: black;
}

.container-social {
  margin-top: 60px;
  padding: 100px;
  border: 1px solid white;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes a {
  text-decoration: none;
  display: block;
  padding: 15px;
  color: white;
}

.redes .fa-facebook-f:hover {
  color: #4267b2;
  transition: color 0.3s;
}

.redes .fa-whatsapp:hover {
  color: #2ac44d;
  transition: 0.3s;
}

.redes .fa-github:hover {
  color: #c7bd2c;
  transition: color 0.3s;
}

.redes .fa-instagram:hover {
  color: #8134af;
  transition: 0.3s;
}

.redes .fa-linkedin-in:hover {
  color: #0a66c2;
  transition: 0.3s;
}
