footer {
  width: 100vw;
  height: 45vh;
  background-color: #3a3a3a;
  margin-top: 20px;
}

footer div h4 {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  justify-self: center;
  font-size: 60px;
  padding: 15px;
  margin-top: 5px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
}

footer div span {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 30px;
}

footer div h6 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
  font-family: "Segoe UI", sans-serif;
  font-weight: 300;
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes a {
  display: block;
  padding: 10px;
  color: white;
}

.redes .fa-facebook-f:hover {
  color: #4267b2;
  transition: color 0.3s;
}

.redes .fa-whatsapp:hover {
  color: #2ac44d;
  transition: 0.3s;
}

.redes .fa-github:hover {
  color: #c7bd2c;
  transition: color 0.3s;
}

.redes .fa-instagram:hover {
  color: #8134af;
  transition: 0.3s;
}

.redes .fa-linkedin-in:hover {
  color: #0a66c2;
  transition: 0.3s;
}
