/* Menu topo */
#menu div {
  display: flex;
  justify-content: space-between;
  background-color: #3a3a3a;
  padding: 10px;
}

.logo {
  color: white;
}

.logo:hover {
  transform: scale(1.2);
}

#menu div ul {
  display: flex;
}

#menu div ul li {
  margin-left: 10px;
  justify-content: center;
  align-self: center;
  font-weight: 500;
  font-size: 20px;
}

#menu div ul li:last-child {
  margin-right: 100px;
}

#menu ul li a {
  color: white;
  padding: 10px;
  display: block;
}

#menu ul li a:hover {
  transform: scale(1.5);
}
