/* menu aside */

.menu-aside {
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 1000;
}

.social i {
  margin-bottom: 10px;
  color: white;
  padding: 2px;
}

.social .fa-facebook-f:hover {
  color: #4267b2;
  transition: color 0.3s;
}

.social .fa-whatsapp:hover {
  color: #2ac44d;
  transition: 0.3s;
}

.social .fa-github:hover {
  color: #c7bd2c;
  transition: color 0.3s;
}

.social .fa-instagram:hover {
  color: #8134af;
  transition: 0.3s;
}

.social .fa-linkedin-in:hover {
  color: #0a66c2;
  transition: 0.3s;
}
